/* ---GLOBAL/BODY--- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lexend');

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 14.5px;
  color: #202020;
}


/* ---MAIN--- */
.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "sidebar footer footer";
    grid-template-columns: 18rem 1fr 1fr;
    grid-template-rows: 3rem 1fr 2rem;
    width: 100%;
    height: 100vh;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
}

.todos {
  margin: 0 2rem;
  width: 100%;
  max-width: 800px;
}

.todos__current-list {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.75rem;
  border-bottom: #f4f4f4 1px solid;
  color: #202020;
}


/* ---TODOS--- */

.todo__container {
  display: grid;
  grid-template-columns: 2rem 1fr 4rem;
  grid-template-rows: repeat(3, auto);
}

.todo {
  padding: 0.5rem 0;
  border-bottom: #f4f4f4 1px solid;
}

.checkbox-container {
  grid-column: 1;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-right: 0.4rem;
}

.tick {
  position: absolute;
  color: white;
  pointer-events: none;
}

/* Hiding class, making content visible only to screen readers but not visually */
.todo__label:not(focus):not(active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.todo__checkbox {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border-radius: 16px;
  height: 18px;
  width: 18px;
  border: 1px solid #808080;
  background-color: white;
  cursor: pointer;
} 

.todo__checkbox--low {
  border: 2px solid #058527;
}

.todo__checkbox--medium {
  border: 2px solid #f0b330;
}

.todo__checkbox--high {
  border: 2px solid #df3d3d;
}

.todo__checkbox:checked {
  background-color: #f4f4f4;
}

.todo__checkbox:hover {
  background-color: #808080;
  transition: background-color 0.3s;
}

.todo__checkbox--low:hover {
  background-color: #058527;
  transition: background-color 0.3s;
}

.todo__checkbox--medium:hover {
  background-color: #f0b330;
  transition: background-color 0.3s;
}

.todo__checkbox--high:hover {
  background-color: #df3d3d;
  transition: background-color 0.3s;
}

.todo__title {
  place-self: center start;
  padding-bottom: 0.4rem;
}

.todo__description {
  grid-column: 2;
  font-size: 0.75rem;
  color: #808080;
  padding-bottom: 0.4rem;
  place-self: center start;
  max-width: 95%;
}

/* Truncates text to a certain width of a container, and replaces overflow with ellipses */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
}

.todo__description:hover {
  cursor: pointer;
}

.todo__date {
  grid-column: 2;
  grid-row: 3;
  font-size: 0.75rem;
  place-self: center start;
  color: #058527;
  /* padding-bottom: 0.3rem; */
}

.todo__priority {
  display: none;
}

.todo__delete {
  grid-column: 3;
  grid-row: 1 / span 3;
  place-self: center end;
  display: none;
  cursor: pointer;
}

/* Negative margins prevent delete btn from epanding todo li when displayed */
.todo:hover .todo__delete {
  opacity: 0.3;
  font-size: 1.7rem;
  margin: -0.5rem 1rem -0.5rem 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  display: inline;
}

.todo__edit {
  grid-column: 3;
  grid-row: 1 / span 3;
  place-self: center start;
  cursor: pointer;
  display: none;
}

.todo__edit-icon {
  width: 18px;
}

.todo:hover .todo__edit {
  opacity: 0.3;
  border: none;
  margin: -0.4rem 0.5rem -0.4rem 0;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 1rem;
  display: inline;
  padding: 0;
}

.todo__edit:hover, .todo__delete:hover {
  opacity: 1 !important;
}
  
.todos__new {
  background-color: rgba(255, 255, 255, 0);
  color: #808080;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 14.5px;
  width: 6.5rem;
  height: 2.2rem;
  margin-top: 0.3rem;
  padding: 0;
  box-sizing: content-box;
}

.todos__new-icon {
  width: 14px;
  height: 14px;
  padding: 0.1rem;
  margin: 0 0.5rem 0 0.25rem;
  border: 2px solid #FFFFFF;
}

.todos__new:hover {
  cursor: pointer;
  color: #0078D7;
  transition: color 0.1s;
}

.todos__new:hover .todos__new-icon {
  border: 2px solid #0078D7;
  transition: border 0.1s;
  border-radius: 14px;
}


/* ---HEADER--- */
.header {
    grid-area: header;
    background-color: #0078D7;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1.35rem;
}

.header__icon {
  width: 22px;
  margin-right: 0.5rem;
}

.header__title {
  font-weight: bolder;
  color: white;
  font-size: 1.2rem;
}


/* ---SIDEBAR--- */
.sidebar {
  grid-area: sidebar;
  background-color: #f4f4f4;
}

.sidebar__collapse {
  background-color: rgb(255, 255, 255, 0);
  border: none;
  transform: rotate(90deg);
  display: flex;
  place-items: center;
  margin-left: 1rem;
  margin-top: 1.5rem;
  padding: 0.2rem;
}

.list-name {
  padding-bottom: 0.1rem;
}

.list-name--selected {
  font-weight: bold;
}

.list-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 2.2rem;
  padding: 0 0.2rem 0 1.5rem;
}

#inbox {
  margin: 1rem 0 1rem 0;
}

#inbox img {
  margin-right: 0.6rem;
}

.list-item:hover, .add-list:hover, .sidebar__collapse:hover {
  background-color: #fbfbfb;
  transition: background-color 0.1s;
  cursor: pointer;
}

.list-btn {
  display: none;
}

/* This class can change the appearance of the button when you hover the list item (e.g. show the button) */
.list-item:hover .list-btn {
  opacity: 0.3;
  color: #202020;
  font-size: 1.5rem;
  font-weight: lighter;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 1.2rem;
  margin: 0;
  padding: 0.1rem;
  display: block;
}

.list-btn:hover {
  cursor: pointer;
  opacity: 1 !important;
}

.add-list {
  display: flex;
  align-items: center;
  height: 2.2rem;
  padding: 0 0.2rem 0 1.5rem;
}


.icon {
  width: 18px;
  color: white;
}

.add-list__title {
  margin-left: 0.6rem;
}

.list-name {
  margin-left: 0.6rem;
}



/* ---FOOTER--- */
.footer {
  grid-area: footer;
}


/* ---MODALS--- */

.add-modal, .list-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.list-modal__content, .add-modal__content {
  background-color: #fff;
  width: 20rem;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 3px;
}

.add-modal__header, .list-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccbcb;
  font-weight: bold;
  font-size: 1.1rem;
  width: 100%;
}

.todo-form, .list-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-modal__close, .list-modal__close {
  color: #ccc;
  font-size: 2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.add-modal__close:hover, .list-modal__close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.list-form__input, .todo-form > input, select, textarea {
  font-family: "Open Sans";
  border: 1px solid #cccbcb;
  border-radius: 3px;
  margin: 0.5rem 0 1rem 0;
  height: 1.4rem;
}

.todo-form__priority, .todo-form__list, #todo-form__date {
  height: 1.7rem;
}

.todo-form__description {
  height: 4rem;
}

.list-form__input:focus, .todo-form > input:focus, select:focus, textarea:focus {
  border: 1px solid #808080;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  font-family: "Open Sans";
}

.list-modal__btn, .todo-form__btn {
  place-self: center;
  font-family: "Open Sans";
  font-size: 14.5px;
  border: none;
  background-color: #0078D7;
  color: #f4f4f4;
  padding: 0.3rem 0.5rem;
  border: 2px solid #fff;
  border-radius: 3px;
}

.list-modal__btn:hover, .list-modal__btn:focus, .todo-form__btn:hover, .todo-form__btn:focus {
  border: 2px solid #9ad2ff;
  border-radius: 3px;
  transition: border 0.2s;
  cursor: pointer;
}

.disabled {
  background-color: #a4d6ff;
}

.disabled:hover, .disabled:focus {
  border: 2px solid #fff;
  cursor: default;
}

#hidden {
  display: none;
}


/* TODO: hide sidebar once screen width < 750px */
@media (max-width: 750px) {
  /* Adjustments here */
}