/* ---GLOBAL/BODY--- */

body {
  font-family: Arial, sans-serif;
}


/* ---MAIN--- */
.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "footer footer footer";
    width: 600px;
    margin: auto;
}

.main {
  grid-area: main;
}


/* ---HEADER--- */
.header {
    grid-area: header;
}

.header__icon {
  width: 20px;
}


/* ---SIDEBAR--- */
.sidebar {
    grid-area: sidebar;
}


/* ---FOOTER--- */
.footer {
  grid-area: footer;
}

/* ---ADD TODO MODAL */
.add-modal {
  /* display: none; */
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}