/* ---GLOBAL/BODY--- */

body {
  font-family: Arial, sans-serif;
}


/* ---MAIN--- */
.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "footer footer footer";
    width: 600px;
    margin: auto;
}

.main {
  grid-area: main;
}

/* ---TODOS--- */
.todo__container {
  display: flex;
  align-items: center;
}

.todo__container > * {
  padding: 0 0.5rem;
}

/* ---HEADER--- */
.header {
    grid-area: header;
}

.header__icon {
  width: 20px;
}


/* ---SIDEBAR--- */
.sidebar {
    grid-area: sidebar;
}


/* ---FOOTER--- */
.footer {
  grid-area: footer;
}

/* ---ADD TODO MODAL */
.add-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-modal__content {
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: TODO; */
}

.add-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-form {
  display: flex;
  flex-direction: column;
}



.add-modal__close {
  color: #ccc;
  font-size: 2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.add-modal__close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}